body{
  margin: 0;
}

.headerbackground{
  background-color: #005ba8;
  height: 110px;

}

.headerarea{
  text-align: left;
  width: 1000px;
  margin: 0 auto o auto;
  position: relative;
}

.headermage{
  height: 110px;
  min-height: 110px;
  display: inline-flex;
  align-items: center;
  position: relative;
  left: 87px;
  z-index: 3;
}

.topwenzibackground{
  padding: 17px 0px 0px 25px;
  position: relative;
  top: 0;
  right: 0;
  z-index: 100px;
}
.topzisize{
  display: flex;
  align-items: center;
}
.topzisize ul li{
    list-style-type: none;
    margin: 0 3px;
    font-weight: bold;
    font-size: small;
    font: weight 380px;;
    position: relative;
    left: 930px;
    top: -115px;
    display: initial;
}

.topzisize ul li a{
  box-sizing: border-box;
    width: 22px;
    height: 22px;
    line-height: 1;
    padding: 2px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
}

  .fangdajin{
    position: relative;
    left: 1080px;
    top: -150px;
  }

  .fangdajin img{
    width: 25px;
  }



.topzisize ul li.zhong{
  margin: 10px;
  background-color:#00bfff;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.topzisize ul li a{
  color: #ffffff;
  white-space: nowerap;
  text-decoration: none;
}

.topzisize ul li.small a:hover{
  background-color:#00bfff;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.topzisize ul li.big a:hover{
  background-color:#00bfff;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.toplanguager{
  position: relative;
  padding: 15px 0px 0px 0px;
}

.diqiu img{
  width: 20px;
  position: relative;
  left: 970px;
  top: -175px;
}

.topboder{
  border-width: thin;
	border-style: solid;
	border-color:#000000;
  width: 100px;
  
}

.languager{
  position: relative;
  left: 1000px;
  top: -200px;
  color: #ffffff;
  display: flex;
}

.footertop{
  width: 100%;
  background-color: #00a0e9;
  display: block;
  text-align: center;
  padding: 15px 0px 15px 0px;

}

.footername ul{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: none;
}

.footername ul li{
  margin-right: 20px;
  display: inline;
  font-size: 13px;
}

.footername ul li a{
  color: #ffffff;
  white-space: nowerap;
  text-decoration: none;

}

.footername ul li a:hover{
  color: rgb(102, 101, 101);
  text-decoration: underline;
}

.footername ul li a::before{
  content: ">";
  display: inline-block;
  padding: 0px 10px 0px 0px;

}

.toplogo a{
  display: block;
  background-size: contain;
  width: 225px;
  height: 88px;
}

.toplogo img{
  width: 200px;
  position: relative;
  left: 50px;
}









.footercover{
  background-color: #005ba8;
  width: 100%;
  height: 200px;
}



.container{
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: auto;
  padding: 15px 0;
}

.logo img{
  width: 118px;
  height: 89px;
  background-position: center,center;
  margin: 25px 0px 0 180px;
}

.logonamewidth{
  width: 350px;
  position: relative;
  left: 20px;

}


.logoname img{
  position: relative;
  top: 10px;
  margin: 0px 55px ;
  width: 260px;
  height: 115px;
  background-position: center center;
  padding: 0;
}


  .footerwenzi ul {
  position: relative;
  right: 320px;
  top: 140px;
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;

}

.footerwenzi ul li{
  display: inline;
	padding: 5px 10px 5px 10px;
  color: rgb(255,255,255);
  font-size: 12.5px;
  font-weight:lighter;
}

.footerwenzi ul li a{
  color: #ffffff;

}

.footerwenzi ul li a:hover{
  text-decoration:none;
}

.footerwenzi ul li a::before{
  content: ">";
  display: inline-block;
  padding: 0px 10px 0px 0px;

}

.footerwenzi ul li a:link, nav ul li a:visited {
	color: rgb(255, 255, 255);
	border-bottom: none;
}

.footerend{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color:#ffffff;
  position: relative;
  top: 51px;
}

.footerendzi{
  position: relative;
  left: 650px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: opx;
  margin-inline-end: 0px;
  font-size: 12px;
  color: rgb(102, 101, 101);
}