/*一条CSS*/
p{font-family: Arual;
color:maroon
  }
h1{
    font-family: Arual;
    color:grey;
  }
h2{
    font-family:Arial;
    color: grey;
  }
h1,h2{
      font-family: Arial;
      color: grey;
      }
h1{
    border-bottom: 1px solid black;
  }
em {font-family: "symbol";
    }
    html {
  font-size: 16px; 
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}


body{
	color: royalblue;
	color: rgb(176, 213, 223);
	color: #4169E1CC;
	color: rgba(200,173,196,0.8);
	color:mediumseagreen;
}


body{
	background-color: rgb(39, 44, 54,0.8);
}
a{text-decoration:none
}
