.header{
  background-color: #005ca9;
  height: 110px;
  margin: 0px;
  width: 33%;
}
.top img{
  position: relative;
  top: 5;
  left: 20%;
  width: 200px;
  height: 96px;
}
.border1{
  background-color: #005ca9;
}

body{
  margin: 0px;
}
